h1 {
    font-size: 1.5rem;
    padding:10px;
}
main {
    display: none;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}



.description, .quest-container, .answer-container {
    text-align: center;
    width : 90vw;
    margin: auto;
    border: 2px solid rgb(26, 25, 22);
    padding : 5px;
    border-radius: 10px;
    background-color: white;
    max-width: 1000px;
    user-select: none;
}

.quest-container {
    height: 20vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.quest-container p {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.flag, .country-name {
    background-color: white;
    position: relative;
    max-width: 80%;
    max-height: 50%;
    margin: 10px auto;
}


.flag img {
    max-width: 70%;
    max-height: 80%;
    min-width: 50%;
    border: 2px solid black;
}

.answer-container {
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.answer-container * {
    background-color: white;
} 

.answer-sheet {
    margin-top: 1rem;
    padding : 5px;
}


.description * {
    background-color: white;
}

.level {
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid black;
    width: 150px;
}

.level span {
    padding: 5px;
}

#levelN {
    padding: 0;
}

.level button {
    padding: 0 10px;
    border: none;
}

.level button:hover {
    background-color: rgb(223, 223, 223);
}

.start {
    padding : 5px 10px;
    border: 2px solid black    ;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.start:hover {
    background-color: rgb(223, 223, 223);
    scale: 1.05
}


@media (min-width:768px) {
    h1 {
        font-size: 2rem;
    }

    .quest-container {
        height: 40vh;
    }

    .quest-container p {
        font-size: 2rem;
    }

    .flag img{
        width: 80%;
        max-height: 80%;
    }

}