.setup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    height: 30px;
}

.setup:hover {
    background-color:  rgb(223, 223, 223);
}

.start {
    display: none;
}

.range-container * {
    background-color: white;
}

.range-container {
    position: relative;
    margin-top: 10px;
    padding-top: 20px;
}

.range-container ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style: none;
}

#type-level {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#type-level .track {
    padding-top: 0;
    padding : 20px;
    width: auto;
}

.selected {
    background-color: #ffb974
}

#type-level .selected {
    background-color: #C5D89D;
}

.carousel-wrapper {
    width: 85%;
    position: relative;
    display: flex;
    flex-direction: row;
    margin: auto;
}

#carousel {
    overflow: hidden;
    position: relative;
}

.track {
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    gap : 20px;
    transition: transform 0.5s ease-in-out;
    padding: 5px;
    padding-top: 7vh;
    padding-bottom: 7vh;
    overflow-y: visible;
    margin-left: 0; 
    margin-right: auto;
}

.slide {
    width: 20%;
    aspect-ratio: 1;
    min-width: 70px;
    max-width: 150px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10%;
    flex-shrink: 0;
    overflow: hidden; /* 링크가 둥근 모서리를 삐져나가지 않게 정리 */

    display: flex;
    flex-direction: column;
    justify-content: center;
}


.slide:hover {
    transform: scale(1.05);
}

.nav-btn {
    position: absolute;
    border: none;
    height: 80%;
    max-height: 180px;
    min-height: 70px;
    top: 50%;
    transform: translateY(-50%); /* 정확한 수직 중앙 정렬 */
    background-color: transparent;
    padding: 10px;
    z-index: 10;
    font-size: larger;
}

.prev { left: -30px; }  /* 왼쪽에 딱 붙이기 */
.next { right: -30px; } /* 오른쪽에 딱 붙이기 */

.nav-btn:hover {
    background-color: rgba(0, 0, 0, 0.269);
}

.slide a:hover {
    background-color: rgb(255, 244, 202);
}

.quest-container {
    height: 30vh;
}

.potrait {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: inherit;
    font-size: 20px;
}

.potrait img {
    height: 100%;
    width: auto;
    margin: 0 auto;
}
