.video-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #000;
    border-radius: 12px;
    overflow: hidden; /* 둥근 모서리 밖으로 영상 튀어나감 방지 */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.video-wrapper.fin {
    background-color: transparent;
}

/* 플레이어 자체는 가득 채움 */
#youtube-player {
    width: 80%;
    height: 100%;
    margin: auto;
}

/* 커튼: 영상 위에 덮어씌움 */
.curtain {
    position: absolute;
    top: 0; left: 0; width: 100%; height: 100%;
    background-color: #222; /* 검은색 배경 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20; /* 영상보다 위에 */
    transition: opacity 0.5s;
    /* 중요: 사용자가 유튜브 제목 등을 클릭 못하게 막음 */
    pointer-events: none; 
}

.curtain-text {
    color: white;
    font-size: 1.5rem;
    animation: pulse 1.5s infinite;
    background-color: inherit;
}


.curtain-text.stop {
    animation: none;
}

/* 정답 공개 시 사용할 클래스 (투명해짐) */
.curtain.hidden {
    opacity: 0;
    pointer-events: none;
}

.timer {
    margin-top: 12px;
    margin-bottom: 12px;
}

.excuse {
    margin-top: 6px;
}

.ingame-btn *,.result-btn *  {
    width: 70px;
    padding: 4px;
    border-radius: 10px;
}

.ingame-btn *:hover,.result-btn *:hover {
    background-color: rgba(210, 210, 210, 0.735);
}

.result-btn {
    display: none;
}

@keyframes pulse {
    0% { opacity: 0.5; }
    50% { opacity: 1; }
    100% { opacity: 0.5; }
}

@media (min-width:768px) {
    .quest-container {
        height: 50vh;
    }
}